<div class="footer-cocktails d-flex flex-column align-items-center justify-content-end align-self-center">
  <p>Follow us</p>
  <ul class="list-inline d-flex">
    <li class="px-2"><a href="https://www.facebook.com/basileq"><i class="fab fa-facebook"></i></a></li>
    <li class="px-2"><a href="https://www.linkedin.com/in/basile-quinchon-b515b168/"><i class="fab fa-github"></i></a></li>
    <li class="px-2"><a href="https://github.com/basilequinchon"><i class="fab fa-linkedin"></i></a></li>
  </ul>
  <p><em>built with <i class="fas fa-heart"></i> by Basile Quinchon for Le Wagon</em></p>
</div>
