<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <div class="container">
    <%= link_to "Monsieur Cocktail", cocktails_path, class: "navbar-brand" %>
    <h2>Sans alcool... la fête est plus folle !</h2>
  </div>
</nav>
