<nav class="navbar bg-transparent justify-content-between align-items-center">
  <div class="container navbar-top">
    <%= link_to 'Cocktails list', cocktails_path, class: 'toggle-button' %>
    <%= render 'search-bar' %>
  </div>
</nav>
