<div class="banner">
  <div class="container">
    <h1 class="titre-cocktail">Bienvenue sur Monsieur Cocktail !</h1>
    <p>Here, you will know everything about the best cocktails in the world...</p>
    <%= link_to 'Go to cocktails list !', cocktails_path, class: 'toggle-button' %>
  </div>
</div>
