.banner {
  background: rgb(157,216,200);
  background: linear-gradient(180deg, rgba(157,216,200,1) 0%, rgba(157,216,200,0.788953081232493) 9%, rgba(216,244,236,1) 100%);padding: 1rem;
  height: 100vh;
  overflow: scroll;

  h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-size: 70px;
    border-bottom: 1px solid;
  }

  p {
    font-size: 20px;
    color: white;
  }
}


