.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid #FFFFFF80;
  background: #FFFFFF55;
  border-radius: 4px;
  color: #00000090;
  font-weight: bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;

  .destroy-cross {
    position: absolute;
    top: 0px;
    right: 5px;
    color: $orange;
    font-weight: bolder;
  }

  &.image {
    width: 400px;
    margin: 0rem 1rem 1rem 0rem;

    &:hover {
      cursor: pointer;
    }

    .image-bigger {
      height: 500px;
    }
  }

  &.ingredients {
    width: 400px;
    margin: 0rem 1rem 1rem 0rem;

    p {
      font-size: 14px;
      text-align: center;
      color: #00000090;
    }

    i {
      color: #00000090;
    }
  }

  &.add-ingredients,
  &.instructions {
    width: 400px;
    margin: 0rem 1rem 1rem 0rem;
    padding: 1rem;
  }

  &.add-cocktail {
    padding: 1rem;
  }

  &.review {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #f09595;
    padding: 10px 0px;
    margin-bottom: 5px;
    place-self: center;
  }

  p {
    font-size: 14px;
    padding: 5px 0px;
    margin: 0;
  }

  .card-trip-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;

    .card-trip-user {
      position: absolute;
      right: 16px;
      top: -20px;
      width: 40px;
    }
  }
}

#ingredient-line {
  display: flex;
  justify-content: space-between;
  margin: 0px 23%;
  align-items: center;
  left: 50%;

  .fa-glass-whiskey {
    font-size: 0.7rem
  }
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #FFFFFF90;
  transition: all 0.4s ease;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  &.cocktail {
    grid-template-columns: none;
    display: flex;
    flex-direction: row;
  }
}

.cocktail-infos,
.dose_ingredient {
  display: flex;
  flex-direction: column;
}

.reviews {
  flex-grow: 1;
}

.simple_form.new_review,
.simple_form.new_cocktail,
.simple_form.new_dose,
#add-review-btn {
  width: -webkit-fill-available;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

  .cards {
    grid-template-columns: 1fr;

    &.cocktail {
      flex-direction: column;
      align-items: center;

      .card-trip,
      #add-ingredient-btn {
        margin: 0rem 0rem 1rem 0rem;
      }
    }

    .reviews {
      width: 400px
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;

    &.cocktail {
      flex-direction: column;
      align-items: center;

      .card-trip,
      #add-ingredient-btn {
        margin: 0rem 0rem 1rem 0rem;
      }
    }

    .reviews {
      width: 400px
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;

    &.cocktail-infos {
      width: 300px
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

