.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 2px solid $yellow;
  background: transparent;
  color: white;
  font-weight: bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;

  .destroy-cross {
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
  }

  &.image {
    width: 400px;
    margin: 0rem 1rem 1rem 0rem;

  }

  &.ingredients {
    width: 400px;
    margin: 0rem 1rem 1rem 0rem;


    p {
      font-size: 14px;
      text-align: center;
      color: white;
    }

    i {
      color: white;
    }
  }

  &.add-ingredients {
    margin: 0rem 1rem 1rem 0rem;
    padding: 1rem;
  }

  &.add-cocktail {
    padding: 1rem;
  }

  &.review {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid #4B688880;
    padding: 10px 0px;
    margin-bottom: 5px;
    place-self: center;
  }

  p {
    font-size: 12px;
    padding: 5px 0px;
    margin: 0;
  }

  .card-trip-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;

    .card-trip-user {
      position: absolute;
      right: 16px;
      top: -20px;
      width: 40px;
    }
  }
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 1px solid white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  &.cocktail {
    grid-template-columns: none;
    display: flex;
    flex-direction: row;
  }
}

.cocktail-infos,
.dose_ingredient {
  display: flex;
  flex-direction: column;
}

.reviews {
  flex-grow: 1;
}

.simple_form.new_review,
.simple_form.new_cocktail,
.simple_form.new_dose {
  width: -webkit-fill-available;
}

