.container.navbar-top {
  padding: 0px;
  margin: 0px;

  h2 {
    margin: 0px;
    font-size: 20px;
    font-style: italic;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.search-bar form {
  margin-bottom: 0px !important;
}

.navbar {
  padding: 1rem 0rem 0rem 0rem;
}
