// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.mister-cocktail {
  background-image: url('https://mediaslide-europe.storage.googleapis.com/profil/news_pictures/2017/07/large-1499163582-45a9b4d3c9881622adfa59d85f81f713.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
