<div class="container navbar-top">
  <nav class="navbar fixed-top bg-transparent justify-content-between align-items-center">
    <div class="container">
      <%= link_to 'Cocktails list', cocktails_path, class: 'toggle-button' %>
      <%= render 'search-bar' %>
    </div>
  </div>
</nav>
